<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Saarthi Menu</title>
	<link rel="stylesheet" href="/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-pVn6X... (trimmed)" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

	<div class="header">





		<div class="logo"><button class="iconButton" id="menuBtn"><i class="fa-solid fa-bars"></i></button></div>
		<div class="logo">Saarthi</div>
		<div class="contact">
			<div class="c1"><button class="iconButton2" id="iconButton2"><i class="fa-regular fa-user"></i> </button>
			</div>
			<div class="c1 sidebar">Contact Us </div>
			<div class="c1 sidebar">About Us </div>


		</div>

	</div>
	
	<div class="side-menu" id="sideMenu">
		<button id="close"><i class="fa-solid fa-xmark"></i></button>
		<a th:href="@{/home}">Home</a>
				<a th:href="@{/workPage}">Working Professionals</a>
				<a th:href="@{/roomRent}">Room Rent</a>
				<a th:href="@{/tiffinService}">Tiffin Service</a>
				<a th:href="@{/milkDairy}">Milk Dairy</a>
				
				<a th:href="@{/logOut}">Logout</a>
				
	</div>


	<div class="user-side-menu" id="userSideMenu">
		<button id="userClose"><i class="fa-solid fa-xmark"></i></button>
		<a href="#"><span th:text="${session.usersName}"></span></a>
		<a th:href="@{/userDashboard}">Your Rooms</a>
		<a th:href="@{/userDashboardWorker}">Your Work</a>
		<a th:href="@{/userDashboardLunch}">Your Lunch</a>
		<a th:href="@{/userDashboardDairy}">Your Dairy</a>
		<a href="#">---</a>
		<a href="#">---</a>
		<a href="#">//</a>
	</div>
	<div class="main">
		




			<div class="s">
			
			<input type="text" id="city" placeholder="Enter City" class="ser">
			<select id="roomType" class="ser">
				<option value="">-- Select Room type --</option>

								<option value="Single Room">Single Room</option>
								   <option value="Double Sharing">Double Sharing Room</option>
								   <option value="Triple Sharing">Triple Sharing Room</option>
								   <option value="PG">PG (Paying Guest)</option>
								   <option value="Hostel Room">Hostel Room</option>
								   <option value="1RK">1 RK (Room + Kitchen)</option>
								   <option value="1BHK">1 BHK</option>
								   <option value="2BHK">2 BHK</option>
								   <option value="3BHK">3 BHK</option>
								   <option value="4BHK">4 BHK</option>
								   <option value="Flat">Flat / Apartment</option>
								   <option value="Studio">Studio Apartment</option>
								   <option value="Independent Room">Independent Room</option>
								   <option value="Independent House">Independent House</option>
								   <option value="Dormitory">Dormitory</option>
								   <option value="Shared Apartment">Shared Apartment</option>
								   <option value="Family Room">Family Room</option>
							

						</select>
						<input type="text" id="pincode" placeholder="Pincode" class="ser">
			<button onclick="searchRooms()" class="ser">Search</button>
			
			</div>
			
			<div id="rooms"></div>

			


		

	</div>
	
	<script th:src="@{/js/room.js}"></script>

	<script src="/js/main.js"></script>
	
	
</body>

</html>